<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
    <title>Document</title>
</head>
<body>
    {% for message in messages%}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        <label for="team_number">Enter team number</label>
        <input type="text" name="team_number" id="team_number">
        <br>
        <label for="stock_name">Select stock:</label>
        <select name="stock_name" id="stock_name">
            {% for stock in stocks%}
            <option value={{ stock.stock_name }}>{{ stock.stock_name }}</option>
            {{ stock.stock_name }}
            {% endfor %}
        </select>
        <br>
        <label for="transaction_type">Select transaction type:</label>
        <select name = 'transaction_type' id = 'transaction_type'>
            <option value="buy">BUY</option>
            <option value="sell">SELL</option>
            <option value="short_sell">SHORT_SELL</option>
            <option value="buy_back">BUY_BACK</option>
        </select>
        <br>

        <label for="quantity">Enter quantity:</label>
        <input type="text" name="quantity">
        <br>

        <button type="submit">Submit</button>
    </form>

</body>
</html>