<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    poplaution of n teams
    <form method="post">
        {% csrf_token %}
        <label for="number_of_teams">Enter number of teams:</label>
        <input type="text" name="number_of_teams">
        <button type="submit" >Create Teams</button>
        <label
    </form>
</body>
</html>